<!DOCTYPE html>
<html lang="en">
<body>
<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                {% for col in colnames %}
            	<th>{{ col }}</th>
            	{% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for i in index %}
        <tr>
            {% for c in colnames %}
            <td>{{ record[i][c] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
</body>
</html>
